// The bootstrap font/icon path defaults to /fonts, but we need it to be /assets/fonts
$icon-font-path: "fonts/bootstrap/";

// Override the font-awesome icon path
$fa-font-path: "fonts";

// Display leaflet controls on the same line
.leaflet-control {
    clear: none;
}
