<!DOCTYPE html>
<html>
    <head>
        <title>LA Hispanics Map</title>

        <link href="/assets/vendor/css/bootstrap.css" rel="stylesheet">
        <link href="/assets/vendor/css/leaflet.css" rel="stylesheet">
        <link href="/assets/static/css/main.css" rel="stylesheet"/>
        
        <script src="/assets/vendor/js/jquery.js"></script>
        <script src="/assets/vendor/js/bootstrap.js"></script>
        <script src="/assets/vendor/js/leaflet.js"></script>
    </head>
    <body>
        <div id="container"></div>
        <script src="/assets/static/js/main.js"></script>
    </body>
</html>
